<section class="hero-item-hidden hidden">
  <div class="hero-item-text">
      <h3 class="hero-title">{{number}}. {{name}}</h3>
      <p class="hero-description">{{description}}</p>
  </div>
      <button class="hero-price">${{toDecimal price}}</button>
</section>
