<header>

    <div class="left-header">
      <div class="vigilante">
        <a href="#">
          <img style="height:auto; width:auto; max-width:40px; max-height:40px;" src="./images/hero-logo.png">
        </a>
      </div>
        <div class="vigilante-header">
          <a href="#">VIGILANTE</a>
        </div>
      <div class="right-left-header">
        <span class="riverside">Riverside</span>
        <span class="hdt">Hero Delivery & Takeout</span>
      </div>
    </div>

    <ul class="right-header">
      <li class="home">
        <a href="go-home">HOME</a>
      </li>
      <li class="support">
        <a href="go-support">SUPPORT</a>
        <i class"fa fa-comment-o"></i>
      </li>
      <li class=sign-in>
        <a href="go-sign-in">SIGN IN</a>
      </li>
    </ul>

  </header>

  <div class="title">

    <div class="title-contents">

      <div class="back-to-reality">
        <a class="go-back" href="#">Back to Reality</a>
      </div>

      <div class="main-title-contents">

        <div class="large-logo">
          <img style="height:auto; width:auto; max-width:100px; max-height:100px;" src="./images/hero-logo.png">
        </div>

        <ul class="restaurant-description">
          <li class="restaurant-name">JUSTice For Me</li>
          <li class="restaurant-address">6736 Brockton Ave Riverside CA, 92506</li>
          <li class="yelp-review">
            <div class="stars">
              <img src="./images/yelp-4stars.png">
            </div>
            <div class="yelp">
              <img style="height:auto; width:auto; max-width:60px; max-height:60px;" src="./images/yelp-logo.png">
            </div>
          </li>
          <li class="store-hours">Open Today: Dusk-Dawn | </li>
          <li class="delivery-time"> Delivery Est: 45-60 min | </li>
          <li class="delivery-minimum"> Delivery Min: $45.00 | </li>
          <li class="delivery-cost"> Delivery Cost: Free</li>
        </ul>

      </div>

      <div class="menu-toggles">
        <div class="menu-toggle">Menu</div>
        <div class="info-toggle">Hours & Info</div>
        <div class="reviews">Reviews</div>
      </div>

    </div>

  </div>

  <div class="search-menu">
    <input class="search-menu-bar" type="text" placeholder="Search Menu Items">
    <i href="#"></i>
  </div>

  <div class="contents">

    <div class="main-container">

    </div>

  </div>

  <footer>

  <div class="home-footer">
    <a href="#">HOME</a>
  </div>
  <div class="careers-footer">
    <a href="#">CAREERS</a>
  </div>
  <div class="support-footer">
    <a href="#">SUPPORT</a>
  </div>
  <div class="blog-footer">
    <a href="#">BLOG</a>
  </div>
  <div class="com-footer">
    <a href="#">GETHEROES.COM</a>
  </div>
  <div class="privacy-footer">
    <a href="#">PRIVACY POLICY</a>
  </div>
  <div class="terms-footer">
    <a href="#">TERMS OF USE</a>
  </div>

</footer>

</div>
